#navbar .btn{
display: none;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin:0px;
    left: 25%;
}
#navbar ul{
    display: none;
}


#nav2{
    position: relative;
    top: -1px;
    width: 100%;
    
}

h1,h2{
    font-size: 15px;
    padding-top: 10px;
}
.img-right1{display: none;}
.img-right2{display: none;}