
#nav2 ul li a{
    font-size: 12px;
    
    
}
#navbar ul{
    display: inline-block;


}
#navbar ul li{
    display: inline-block;
}

#nav2 ul{
    display: inline-block;
   
}
#nav2 ul li{
    display: inline-block;
}
#container{
    display: inline-block;
}
#container .container{
    display: inline-block;
}

#footer1 a img {
    width: 50px;
    height: 20px;
    
  padding-top: 0px;
  padding: 10px 0px;
    
}

#footer1 a{
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding: 0px;
    padding-bottom: 5px;

}


#navbar{
    position: relative;
    top:0px;
 

}
#nav2{
    position: relative;
    top: 28px;

}



#section2{
    position: relative;
    top : 28px;
    z-index: -1;
}

#container{
    position: relative;
    top:28px;
}

footer {
    position: relative;
    
    top: 28px;
}
.master-container .btn{
    /* color: blue; */
    /* border: 2px solid red ; */
    margin-top: 40px;

}

